

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    color: rgb(243, 235, 235);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  }
  

  .header img {
    height: 50px; 
    width: 150px;
    margin-left: 70px;
  }
  

  .btn {
    padding: 10px 20px;
    background-color: #2b5cb6; 
    color: white;
    border: none;
    border-radius: 7px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  
  .btn:hover {
    background-color: #e56d00;
  }
  

  