.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
  }
  
  .advertisement img {
    width: 100%;
    height: auto;
    max-height: 100%; 
    object-fit: contain; 
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .advertisement img.active {
    opacity: 1;
  }
  